@model Elesche.Models.EquipmentModel.Equipment

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.School.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="List" asp-route-id="@Model.School.Id">Back to List</a>
</div>
